html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
}

.outer-container{
    border-width: 2px;
    border-color: #eee;
    border-style: solid;
    border-radius: 25px;
    margin-top: 2em;
}

.custom-height {
    height: 85vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.navbar{
    background: linear-gradient(90deg, #e91e63, #ffcc80);
}
.navbar-light .navbar-nav .nav-link{
    color: rgba(255,255,255,.8);
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
    color: rgba(255,255,255,1);
}
.navbar-toggler{
    border: none;
    margin: auto;
}
.navbar-light .navbar-toggler:focus{
    outline: none;
}

@media (max-width: 992px){
    .navbar-light .navbar-nav .nav-link{
        color: rgba(255,255,255,.8);
        padding: 10px 25px;
        width: 100%;
        text-align: center;
    }        
}

.page-item.active .page-link{
    background-color: #ffcc80;
    border-color: #ffcc80;
}
.page-link{
    color: #ffcc80;
}
.page-link:focus{
    box-shadow: 0 0 0 0.2rem #ffcc8055;
}

#messages{
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 100 !important;
}
.alert{
    width: 170px;
    background: #fff;
    border: none;
    border-radius: 10px;
    margin: 25px 10px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);
}
.alert-danger{
    box-shadow: 0 10px 20px 0 rgba(255,0,0,0.1);
}
.alert-success{
    box-shadow: 0 10px 20px 0 rgba(0,255,0,0.1);
}
.close:focus{
    outline: none;
}

#cke_1_contents{
    height: 55px !important;
}

.btn {
    background: #fff;
    color: #424242;
    border-radius: 15px;
    font-size: 1rem;
}
.btn-default{
    color: #424242;
    border-color: #ddd;
}

#post-options{
    position: absolute;
    bottom: 30px;
    right: 30px;
}
#post-options .btn{
    border: none;
    margin: 2px;
    font-size: 1.5rem;
}
#post-options .btn-danger{
    color: #e91e63;
    background: #fff;
}
#post-options .btn-default{
    color: #424242;
}

#back{
    position: absolute;
    top: 30px;
    left: 30px;
}
.back{
    border-radius: 25px;
    line-height: 29px !important;
    padding-right: 5px;
    font-size: 1.5rem;
}
//---------- Custom Scrollbar ----------//
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  //---------- Custom Scrollbar ----------//